[ ca ]
default_ca = sales_ca
[ sales_ca ]
database = /etc/nginx/sales-mtls/index.txt
new_certs_dir = /etc/nginx/sales-mtls/newcerts
certificate = /etc/nginx/sales-mtls/ca.crt
private_key = /etc/nginx/sales-mtls/ca.key
serial = /etc/nginx/sales-mtls/serial
crlnumber = /etc/nginx/sales-mtls/crlnumber
default_md = sha256
default_days = 1095
default_crl_days = 30
policy = policy_device
unique_subject = no
[ policy_device ]
commonName = supplied
[ client_cert ]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
